In [15]:
import pandas as pd

In [16]:
root_path = 'D:/nuguna_python-1/data/reason_why_not_exercise/Report.xls'
not_exercise = pd.read_excel(root_path)
not_exercise.head()

,기간,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,운동을 할 충분한 비용이 없어서,기타
0,2019,서울시,서울시,46.8,5.0,4.3,37.3,5.2,1.4
1,2019,성별,남자,52.4,4.4,4.9,32.4,4.9,1.1
2,2019,성별,여자,42.5,5.6,3.9,41.0,5.4,1.7
3,2019,연령별,10대,55.3,4.8,3.9,32.6,3.5,-
4,2019,연령별,20대,46.0,4.2,4.5,38.8,6.4,0.1

In [17]:
# 기간이라는 칼럼은 필요가 없으니 없애주자
not_exercise.drop(columns='기간', inplace=True)

# 27번 열부터는 지역 구별 데이터인데 이것들은 필요가 없으니 27번 열부터는 삭제하자
not_exercise.drop(index=range(22, 52), inplace=True)
not_exercise

,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,운동을 할 충분한 비용이 없어서,기타
0,서울시,서울시,46.8,5.0,4.3,37.3,5.2,1.4
1,성별,남자,52.4,4.4,4.9,32.4,4.9,1.1
2,성별,여자,42.5,5.6,3.9,41.0,5.4,1.7
3,연령별,10대,55.3,4.8,3.9,32.6,3.5,-
4,연령별,20대,46.0,4.2,4.5,38.8,6.4,0.1
5,연령별,30대,59.9,5.2,2.9,27.3,4.5,0.2
6,연령별,40대,54.1,3.9,2.9,35.5,3.3,0.4
7,연령별,50대,46.1,6.2,4.5,36.8,5.6,0.8
8,연령별,60대 이상,26.6,6.0,6.6,48.7,6.6,5.6
9,학력별,중졸 이하,24.7,6.2,4.8,48.6,7.3,8.5
10,학력별,고졸 이하,44.3,5.3,5.6,38.6,5.5,0.7
11,학력별,대졸 이하,53.1,4.7,3.3,34.0,4.6,0.3
12,학력별,대학원 이상,61.2,3.0,5.6,29.0,0.9,0.3
13,소득별,100만원 미만,10.7,8.4,9.9,50.7,9.4,10.9
14,소득별,100-200만원 미만,29.6,5.6,6.0,49.1,7.4,2.3
15,소득별,200-300만원 미만,42.8,7.3,3.9,39.5,5.1,1.4
16,소득별,300-400만원 미만,50.6,4.3,4.2,35.5,4.8,0.7
17,소득별,400-500만원 미만,48.0,4.6,3.3,38.7,5.3,0.2
18,소득별,500만원 이상,52.8,4.3,4.0,33.4,4.5,1
19,혼인상태별,기혼,48.7,4.5,4.1,37.3,4.6,0.7
20,혼인상태별,미혼,50.2,4.9,4.0,35.1,5.6,0.2
21,혼인상태별,이혼/사별/기타,31.5,7.2,5.7,42.4,6.4,6.9

In [20]:
# 0번에 열인 '대분류'별로 데이터를 뽑아 그래프로 확인해보자
not_ex_gender = not_exercise[not_exercise['대분류']=='성별'].copy()
not_ex_gender

,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,운동을 할 충분한 비용이 없어서,기타
1,성별,남자,52.4,4.4,4.9,32.4,4.9,1.1
2,성별,여자,42.5,5.6,3.9,41.0,5.4,1.7

In [ ]:
## 여기서 잠깐 copy() 규칙을 들여다보자
test_a = [1,2,3,4]
print('test_a:', test_a)