In [2]:
a = ['a','c','d']
a.insert(1, 'b')

a

['a', 'b', 'c', 'd']

In [4]:
import pandas as pd

practice = pd.DataFrame({'날짜':[], '운동':[], '양':[]})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [5]:
practice.loc[0] = ['19-3-1','달리기',1.]
practice

       날짜   운동    양
0  19-3-1  달리기  1.0

In [8]:
practice.loc[1] = ['19-3-2','걷기',1.]
practice.loc[2] = ['19-3-2','달리기',1.]
practice.loc[3] = ['19-3-2','계단오르기',1.]
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0

In [11]:
practice.loc[4] = ['19-3-3','걷기',1.5]
practice.loc[5] = ['19-3-3','달리기',1.]
practice.loc[6] = ['19-3-4','걷기',1.]
practice.loc[7] = ['19-3-5','달리기',1.]
practice.loc[8] = ['19-3-6','걷기',1.]
practice.loc[9] = ['19-3-6','달리기',1.]

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0