In [2]:
a = ['a','c','d']
a.insert(1, 'b')

a

['a', 'b', 'c', 'd']

In [3]:
import pandas as pd
import numpy as np

practice = pd.DataFrame({'날짜':[], '운동':[], '양':[]})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [4]:
practice.loc[0] = ['19-3-1','달리기',1.]
practice

       날짜   운동    양
0  19-3-1  달리기  1.0

In [5]:
practice.loc[1] = ['19-3-2','걷기',1.]
practice.loc[2] = ['19-3-2','달리기',1.]
practice.loc[3] = ['19-3-2','계단오르기',1.]
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0

In [7]:
practice.loc[4] = ['19-3-3','걷기',1.5]
practice.loc[5] = ['19-3-3','달리기',1.]
practice.loc[6] = ['19-3-4','걷기',1.5]
practice.loc[7] = ['19-3-5','달리기',1.]
practice.loc[8] = ['19-3-6','걷기',2.5]
practice.loc[9] = ['19-3-6','달리기',0.5]
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0
6  19-3-4     걷기  1.5
7  19-3-5    달리기  1.0
8  19-3-6     걷기  2.5
9  19-3-6    달리기  0.5

### pivot table

In [8]:
# index 운동을 기준으로 한 평균값 정리하여 반환
practice.pivot_table(index='운동')

           양
운동
걷기     1.625
계단오르기  1.000
달리기    0.900

In [9]:
# 운동을 기준으로 정리하는데 어떤 함수를 적용할지
practice.pivot_table(index='운동', aggfunc=[np.sum])

       sum
         양
운동
걷기     6.5
계단오르기  1.0
달리기    4.5

In [10]:
practice.pivot_table(index='운동', aggfunc=[np.sum, len])

       sum len
         양  날짜  양
운동
걷기     6.5   4  4
계단오르기  1.0   1  1
달리기    4.5   5  5

### pivot 을 활용해 데이터프레임을 보기좋게 재정렬

In [11]:
practice = practice.pivot(index='날짜', columns='운동', values='양')
practice.fillna(0, inplace=True)
practice

운동       걷기  계단오르기  달리기
날짜
19-3-1  0.0    0.0  1.0
19-3-2  1.0    1.0  1.0
19-3-3  1.5    0.0  1.0
19-3-4  1.5    0.0  0.0
19-3-5  0.0    0.0  1.0
19-3-6  2.5    0.0  0.5