In [1]:
# 이번 검색 결과는 검색 결과 출력 건수, 시작 위치, 종류 등을 선택 할 수 있으니 url을 더 디테일하게 만들어주어야 한다.

In [25]:
import urllib.request
import json
import pandas as pd

In [13]:
book_url = 'https://openapi.naver.com/v1/search/book.json'
url_base = 'https://openapi.naver.com/v1/search'

In [14]:
# 사용할 함수를 만들자
def create_url(api_node, search_text, start_num, disp_num):
    base = url_base
    node = '/' + api_node + '.json'
    param_query = '?query=' + urllib.parse.quote(search_text)
    param_start = '&start=' + str(start_num)
    param_disp = '&display=' + str(disp_num)
    
    return base + node + param_query + param_start + param_disp

In [15]:
create_url('book', 'TEST', 1, 10)

'https://openapi.naver.com/v1/search/book.json?query=TEST&start=1&display=10'

In [16]:
# 실제로 사용할 준비를 하자

client_id = 'z_wzqr407Cxx_3A_6TjA'
client_secret = 'cqZ20xcmGW'

url = create_url('book', '파이썬', 1, 3)    # 1부터 3개까지만 표시해라

# 만들어진 url을 쏘기
request = urllib.request.Request(url)
request.add_header('X-Naver-Client-Id', client_id)
request.add_header('X-Naver-Client-Secret', client_secret)

response = urllib.request.urlopen(request)

# 결과를 받아오자
result = json.loads(response.read().decode('utf-8'))
result

{'lastBuildDate': 'Fri, 24 Dec 2021 19:50:24 +0900',
 'total': 1428,
 'start': 1,
 'display': 3,
 'items': [{'title': '이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드)',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=16439154',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/164/391/16439154.jpg?type=m1&udate=20200928',
   'author': '나동빈',
   'price': '34000',
   'discount': '30600',
   'publisher': '한빛미디어',
   'pubdate': '20200805',
   'isbn': '1162243074 9791162243077',
   'description': '8가지 핵심 알고리즘 이론을 쉽게 설명하고, 관련 실전 문제를 풀이했다. 출제 유형 분석, 이론 설명, 기출문제 풀이까지! 어떤 코딩 테스트도 이 책 한 권으로 대비할 수 있을 것이다. 코딩 테스트에서 주로 선택하는 <b>파이썬</b>을 기반으로 설명되어 있으며, <b>파이썬</b> 코드 외에도 C/C++, 자바 코드를 추가로 제공한다.'},
  {'title': '혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15028688',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/150/286/15028688.jpg?type=m1&udate=20211206',
   'author': '윤인성',
   'price': '18000',
   'discount': '16200',
   'publisher': '한빛미디어',
   'pubdate': '20190610',
   'isbn': '1162241888 9791162241882',
   'description': '1:1 과외하듯 배우는 <b>파이썬</b> 프로그래밍 자습서(<b>파이썬</b> 최신 버전 반영)\n27명의 베타리더 검증으로, ‘함께 만든’ 입문자 맞춤형 도서\n\n이 책은 독학으로 프로그래밍 언어를 처음 배우려는 입문자가, 혹은 <b>파이썬</b>을 배우려는 입문자가 ‘꼭 필요한 내용을 제대로’ 학습할 수 있도록 구성했다. ‘무엇을’... '},
  {'title': 'Do it! 점프 투 <b>파이썬</b>',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15052904',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/150/529/15052904.jpg?type=m1&udate=20200910',
   'author': '박응용',
   'price': '18800',
   'discount': '16900',
   'publisher': '이지스퍼블리싱',
   'pubdate': '20190620',
   'isbn': '1163030910 9791163030911',
   'description': '<b>파이썬</b> 4년 연속 베스트셀러 1위!\n《DO IT! 점프 투 <b>파이썬</b>》 전면 개정판 출시!문과생도 중고등학생도 직장인도 프로그래밍에 눈뜨게 만든 바로 그 책이... 점프 투 <b>파이썬</b>》으로 출간되었던 이 책은 약 4년 동안의 피드백을 반영하여 초보자가 더 빠르게 입문하고, 더 깊이 있게 공부할 수 있도록 개정되었다.... '}]}

In [18]:
# 몇 건의 결과를 불러왔는가?
result['display']

3

In [20]:
# 실제 검색 결과를 확인해보자
result['items']

[{'title': '이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드)',
  'link': 'http://book.naver.com/bookdb/book_detail.php?bid=16439154',
  'image': 'https://bookthumb-phinf.pstatic.net/cover/164/391/16439154.jpg?type=m1&udate=20200928',
  'author': '나동빈',
  'price': '34000',
  'discount': '30600',
  'publisher': '한빛미디어',
  'pubdate': '20200805',
  'isbn': '1162243074 9791162243077',
  'description': '8가지 핵심 알고리즘 이론을 쉽게 설명하고, 관련 실전 문제를 풀이했다. 출제 유형 분석, 이론 설명, 기출문제 풀이까지! 어떤 코딩 테스트도 이 책 한 권으로 대비할 수 있을 것이다. 코딩 테스트에서 주로 선택하는 <b>파이썬</b>을 기반으로 설명되어 있으며, <b>파이썬</b> 코드 외에도 C/C++, 자바 코드를 추가로 제공한다.'},
 {'title': '혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)',
  'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15028688',
  'image': 'https://bookthumb-phinf.pstatic.net/cover/150/286/15028688.jpg?type=m1&udate=20211206',
  'author': '윤인성',
  'price': '18000',
  'discount': '16200',
  'publisher': '한빛미디어',
  'pubdate': '20190610',
  'isbn': '1162241888 9791162241882',
  'description': '1:1 과외하듯 배우는 <b>파이썬</b> 프로그래밍 자습서(<b>파이썬</b> 최신 버전 반영)\n27명의 베타리더 검증으로, ‘함께 만든’ 입문자 맞춤형 도서\n\n이 책은 독학으로 프로그래밍 언어를 처음 배우려는 입문자가, 혹은 <b>파이썬</b>을 배우려는 입문자가 ‘꼭 필요한 내용을 제대로’ 학습할 수 있도록 구성했다. ‘무엇을’... '},
 {'title': 'Do it! 점프 투 <b>파이썬</b>',
  'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15052904',
  'image': 'https://bookthumb-phinf.pstatic.net/cover/150/529/15052904.jpg?type=m1&udate=20200910',
  'author': '박응용',
  'price': '18800',
  'discount': '16900',
  'publisher': '이지스퍼블리싱',
  'pubdate': '20190620',
  'isbn': '1163030910 9791163030911',
  'description': '<b>파이썬</b> 4년 연속 베스트셀러 1위!\n《DO IT! 점프 투 <b>파이썬</b>》 전면 개정판 출시!문과생도 중고등학생도 직장인도 프로그래밍에 눈뜨게 만든 바로 그 책이... 점프 투 <b>파이썬</b>》으로 출간되었던 이 책은 약 4년 동안의 피드백을 반영하여 초보자가 더 빠르게 입문하고, 더 깊이 있게 공부할 수 있도록 개정되었다.... '}]

In [22]:
# 검색 결과에서 제목만 알고싶다면?
titles = [result['items'][n]['title'] for n in range(3)]
titles

['이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드)',
 '혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)',
 'Do it! 점프 투 <b>파이썬</b>']

In [24]:
# 작가, 출판일 정보까지 가져오자
authors = [result['items'][n]['author'] for n in range(3)]
print(authors)
pubdates = [result['items'][n]['pubdate'] for n in range(3)]
print(pubdates)

['나동빈', '윤인성', '박응용']
['20200805', '20190610', '20190620']

In [27]:
# 판다스로 dataframe 으로 만들자

pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

                                                 책제목   작가       출판일
0  이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정...  나동빈  20200805
1           혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)  윤인성  20190610
2                             Do it! 점프 투 <b>파이썬</b>  박응용  20190620

In [32]:
# 이 모든 과정을 수행하는 함수를 만들자

def get_dataframe(url):
    client_id = 'z_wzqr407Cxx_3A_6TjA'
    client_secret = 'cqZ20xcmGW'
    
    request = urllib.request.Request(url)
    request.add_header('X-Naver-Client-Id', client_id)
    request.add_header('X-Naver-Client-Secret', client_secret)
    
    response = urllib.request.urlopen(request)
    
    result = json.loads(response.read().decode('utf-8'))
    
    end_num = result['display']
    
    titles = [result['items'][n]['title'] for n in range(end_num)]
    authors = [result['items'][n]['author'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubdate'] for n in range(end_num)]
    
    return pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

In [33]:
# 이전에 만들었던 url 만드는 함수 사용
url = create_url('book', '파이썬', 1, 3) 

# 그 url을 이용해서 dataframe 만들기
get_dataframe(url)

                                                 책제목   작가       출판일
0  이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정...  나동빈  20200805
1           혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)  윤인성  20190610
2                             Do it! 점프 투 <b>파이썬</b>  박응용  20190620

In [40]:
# 그런데 책 제목에 <b> 가 보인다. 검색 키워드를 bold 로 강조한 모양이다. 이를 삭제해주자
def delete_tag(input_str):
    input_str = input_str.replace('<b>', '')
    input_str = input_str.replace('</b>', '')
    return input_str

In [41]:
# 이 태그 삭제 함수를 위의 함수에 추가하자
def get_dataframe(url):
    client_id = 'z_wzqr407Cxx_3A_6TjA'
    client_secret = 'cqZ20xcmGW'
    
    request = urllib.request.Request(url)
    request.add_header('X-Naver-Client-Id', client_id)
    request.add_header('X-Naver-Client-Secret', client_secret)
    
    response = urllib.request.urlopen(request)
    
    result = json.loads(response.read().decode('utf-8'))
    
    end_num = result['display']
    
    titles = [delete_tag(result['items'][n]['title']) for n in range(end_num)]  # 제목에만 적용해주면 된다
    authors = [result['items'][n]['author'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubdate'] for n in range(end_num)]
    
    return pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

In [42]:
get_dataframe(url)

                                                 책제목   작가       출판일
0  이것이 취업을 위한 코딩 테스트다 with 파이썬 (취업과 이직을 결정하는 알고리즘...  나동빈  20200805
1                         혼자 공부하는 파이썬 (파이썬 최신 버전 반영)  윤인성  20190610
2                                    Do it! 점프 투 파이썬  박응용  20190620

In [44]:
# 이제 300개의 결과를 얻을 것인데, 이 url에서는 한 번에 100개 display 가 최대이다. 
# 100씩 구간을 만들어보자
[n for n in range(1,300,100)] # 을 이용하자

[1, 101, 201]

In [45]:
result_search = []

for n in range(1, 300, 100):
    url = create_url('book', '파이썬', n, 100)
    result_search.append(get_dataframe(url))
    
result_search = pd.concat(result_search)

In [46]:
result_search

,책제목,작가,출판일
0,이것이 취업을 위한 코딩 테스트다 with 파이썬 (취업과 이직을 결정하는 알고리즘...,나동빈,20200805
1,혼자 공부하는 파이썬 (파이썬 최신 버전 반영),윤인성,20190610
2,Do it! 점프 투 파이썬,박응용,20190620
3,파이썬 알고리즘 인터뷰 (95가지 알고리즘 문제 풀이로 완성하는 코딩 테스트),박상길,20200715
4,파이썬 무작정 따라하기 (미래의 프로그래머를 위한),송석리|서승희,20211220
...,...,...,...
95,"엔지니어를 위한 파이썬 (개발 기초, 필수 라이브러리, 그리고 고속화)",나카쿠키 켄지,20171130
96,10대를 위한 파이썬 교과서 (컴퓨팅 사고력과 알고리즘 배우기),Aristides S. Bouras|Loukia V. Ainarozidou,20200120
97,뇌를 자극하는 파이썬 3 (프로그래밍을 배우기에 '가장 재미있는' 언어),박상현,20160210
98,파이썬과 함께 하는 수학 어드벤처 (파이썬과 프로세싱으로 수학 개념 이해하기),피터 파렐,20200115
99,파이썬으로 만드는 암호화폐 자동 거래 시스템 (24시간 운영되는 나만의 스마트 트레...,박재현,20180426

In [48]:
# 데이터가 잘 들어왔는데 .info() 로 확인해보자
result_search.info()

# index가 0 to 99 이다. reset_index로 정렬해주자"

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     300 non-null    object
 1   작가      300 non-null    object
 2   출판일     300 non-null    object
dtypes: object(3)
memory usage: 9.4+ KB

In [50]:
result_search.reset_index(drop=True, inplace=True)
result_search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     300 non-null    object
 1   작가      300 non-null    object
 2   출판일     300 non-null    object
dtypes: object(3)
memory usage: 7.2+ KB

In [51]:
# 엑셀에 저장하기
# xlsxwriter 모듈을 다운받아 엑셀로 저장하자
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.2

In [53]:
writer = pd.ExcelWriter('D:/nuguna_python-1/data/04_data/python_book_info.xlsx', engine='xlsxwriter')
result_search.to_excel(writer, sheet_name='Sheet1')

workbook = writer.book
worksheet = writer.sheets['Sheet1']

format_center = workbook.add_format({'text_wrap':True}) # 자동 줄바꿈 설정
format_center.set_align('center')   # 가운데 정렬
format_center.set_align('vcenter')

worksheet.set_column('A:A', 5)  # 열과 열의 넓이
worksheet.set_column('B:B', 90, format_center)  # 위에서 설정한 옵션(format_center)을 적용
worksheet.set_column('C:C', 40, format_center)
worksheet.set_column('D:D', 15)

writer.save()